@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send-data{
    display: flex;
    margin: 10px;
}

#comment{
    padding: 5px;
}

#error{
    color: red;
}

.container{
    width: 20%;
    height: 10%;
    background-color: lightgrey;
    margin: 5px;
    padding: 10px;
}

.no-display{
    display: none;
}

#mapid{
    height: 70vh;
    width: 70vw;
}
